a.button,
a.button-sign-in {
    text-decoration: none;
}

.button-sign-in-container {
    display: flex;
    justify-content: flex-end; /* 右对齐 */
}

a.button:hover,
a.button-sign-in:hover {
    text-decoration: none;
}

.button-txt1 {
    font-family: "Lalezar", cursive;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: var(--color-secondary);
    color: #f9f7e1;
}

.button-txt2 {
    font-family: "Lalezar", cursive;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: #8da98d;
    color: #2b2b2b;
}

.button-txt3 {
    font-family: "Lalezar", cursive;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: #8da98d;
    color: #2b2b2b;
    width: 60px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.button-txt3 img {
    height: 35px;
    width: auto;
}

.button {
    padding: 10px 20px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    display: inline-block;
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out, box-shadow 0.2s ease-out,
        color 100ms ease-in;
    color: #f9f7e1;
    transform: translateY(0);
    position: relative;
    z-index: 1;
    user-select: none;
}

.button:hover {
    box-shadow: 0px 6px 0px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    color: #f9f7e1;
}

.button:active {
    transform: translateY(2px);
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.4);
}

.button.pressed {
    transform: translateY(2px) scale(0.95);
    opacity: 0.7;
    transition: all 0.15s ease;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.4);
}

.button.released {
    transform: translateY(0) scale(1);
    opacity: 1;
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.5);
    transition: all 0.15s ease;
}

.button-sign-in {
    width: 200px;
    height: 75px;
    font-family: "Lalezar", cursive;
    font-size: 2rem;
    font-weight: 600;
    background-color: #8da98d;
    color: #2b2b2b;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.5);
    transition: transform 1s cubic-bezier(0.2, 1, 0.2, 1),
        box-shadow 1s cubic-bezier(0.2, 1, 0.2, 1), color 0.3s ease-in-out;
    position: relative;
    z-index: 1;
    user-select: none; /*letters can't be chosen*/
}

.button-sign-in:hover {
    box-shadow: 0px 6px 0px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    color: #f9f7e1;
}

.button-sign-in:active,
.button-sign-in.pressed {
    transform: translateY(2px);
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.4);
}

.right-side-btn {
    margin-left: auto;
}
