:root {
    --color-primary: #999AC6;
    --color-secondary: #0B3954;
    --color-light: #FFF9EC;
    --color-dark: #798071;
    --color-bright: #FF5A5F;
    --color-background: #ffffff;
    --text-color: #222222;
    --easyplate-bgc:#E6F2E6 ;
    --ep--daohanglan--bgc:#8DA98D ;
    --ep-txtcolor:#4B3F30;
    --vice-accordion-color:#F9F7E1;
}

/* 全局基础样式 */
body {
    background-color: var(--easyplate-bgc);
    color: var(--text-color);
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

/* 主容器样式 */
.container {
    color:var(--ep-txtcolor);
    background-color: var(--easyplate-bgc)  ;
    max-width: 900px;
    margin: 0 auto;
    padding: 40px 20px;
}

/* 标题样式 */
h1 {
    font-size: 4.2rem;
}

h2 {
    font-size: 2.6rem;
}

h3 {
    color: #333333;
    font-size: 1.6rem;
}

h1,
h2,
h4,
h5,
p {
    line-height: 1.5;
}

li {
    line-height: 1.4;
}

h1,
h2,
h3 {
    color: #333333;
    margin-top: 40px;
    margin-bottom: 10px;
    
}

/* 文本强调 */
strong {
    color: #444;
}

/* 链接样式 */
a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* 自定义类名（如用于采访者名） */
.interview-name {
    font-size: 1.6rem;
    font-family: 'Sriracha', sans-serif;
}

/* HERO ELEMENT */
/* Hero Text */
.hero-text {
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--ep-txtcolor);
    text-align: center;
    font-family: 'Sriracha', sans-serif;
}

/* Desktop */
@media (min-width: 768px) {
    .hero-text {
        font-size: 1.75rem;
        text-align: left;
    }
} 

section {
    margin-top: 40px;
    margin-bottom: 40px;
}
