.card-container-style {
    display: flex;
    flex-direction: row;
    /* 默认横向排列 */
    gap: 25px;
    /* 卡片间隔 */
    padding: 0rem;
    margin-bottom: 30px;
    margin-top: 20px;
    justify-content: center;
    align-items: flex-start;
    /* 在大屏幕时，卡片靠顶部对齐 */
}

.simple-card-style {
    position: relative;
    background-color: #D9E7E5;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    /* 卡片宽度 */
    padding: 1rem;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: auto;
    min-height: 350px;
    /* 设置卡片最小高度 */
    margin-top: 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
}

.simple-card-style:hover {
    transform: translateY(-8px);
    box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.2);
}

/* 移动端适配 */
@media screen and (max-width: 768px) {
    .card-container-style {
        flex-direction: column;
        /* 移动端纵向排列 */
        align-items: center;
        /* 居中对齐 */
        gap: 15px;
        /* 卡片间距 */
    }

    .simple-card-style {
        width: 90%;
        /* 卡片宽度适配手机屏幕 */
        max-width: 400px;
        /* 最大宽度 400px */
    }
}

.button-float {
    background-color: var(--color-secondary);
    /* 按钮背景颜色 */
    color: white;
    /* 文字颜色 */
    padding: 12px 24px;
    /* 内边距 */
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    /* 圆角 */
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: inline-block;
    text-decoration: none;
    /* 如果是 <a>，去掉下划线 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* 默认轻微阴影 */
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.button-float:hover {
    transform: translateY(-5px);
    /* 向上浮动 */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /* 更强的阴影 */
}

.button-float,
.button-float:hover,
.button-float:focus {
    text-decoration: none;
    /* 所有状态都去掉下划线 */
}